In [ ]:
%matplotlib inline

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# fdsn client for connecting with web services, data pull
from obspy.clients.fdsn import Client
from obspy import UTCDateTime

#import warnings
#warnings.filterwarnings("ignore")

### Inspect data from Caltech on the Ridgecrest-2019 sequence

In [ ]:
df_rc = pd.read_csv('./data_in/data_ridgecrest2019_qtm_v2.csv')
print(df_rc.shape)
print(df_rc.columns)
display(df_rc.head())
display(df_rc.tail())

In [ ]:
print(np.min(df_rc['mag']))
print(np.max(df_rc['mag']))

In [ ]:
df_rc[['latR', 'lonR', 'latC', 'lonC']]

In [ ]:

print(np.min(df_rc['latR']))
print(np.min(df_rc['lonR']))

print(np.max(df_rc['latR']))
print(np.max(df_rc['lonR']))

### Get seismic data from ObsPy

In [1]:
# https://github.com/mlr7/Earthquake-App-with-ObsPy-and-Panel/blob/main/obspy_panel_app1_v11.ipynb

In [2]:
%matplotlib inline

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# fdsn client for connecting with web services, data pull
from obspy.clients.fdsn import Client
from obspy import UTCDateTime

#import warnings
#warnings.filterwarnings("ignore")

In [3]:
iris_client = Client("IRIS", timeout=600)

In [4]:
cat = iris_client.get_events(minlat=35.3053,
                           maxlat=36.137, #35,
                           minlon=-118.016, #-119,
                           maxlon=-117.0115,
                           starttime=UTCDateTime("2018-01-01"),
                           endtime=UTCDateTime("2023-03-20"),
                           minmag=0.0) # 2.0
cat

67624 Event(s) in Catalog:
2023-03-05T20:39:33.580000Z | +35.864, -117.682 | 1.65 Ml
2023-03-05T01:36:13.190000Z | +35.705, -117.528 | 1.29 Ml
...
2018-01-02T02:16:28.190000Z | +35.883, -117.985 | 0.68 Ml
2018-01-01T19:48:33.070000Z | +36.086, -117.020 | 0.4 ml
To see all events call 'print(CatalogObject.__str__(print_all=True))'

In [5]:
times = []
lats = []
lons = []
deps = []
magnitudes = []
magnitudestype = []
for event in cat:
    if len(event.origins) != 0 and len(event.magnitudes) != 0:
        times.append(event.origins[0].time.datetime)
        lats.append(event.origins[0].latitude)
        lons.append(event.origins[0].longitude)
        deps.append(event.origins[0].depth)
        magnitudes.append(event.magnitudes[0].mag)
        magnitudestype.append(event.magnitudes[0].magnitude_type )

In [6]:
df = pd.DataFrame({'datetime':times, 'lat':lats,'lon':lons,'depth':deps,
                   'mag':magnitudes,'type':magnitudestype})

print(df.shape)
print(df.columns)
display(df.head(4))
display(df.tail(4))

(67624, 6)
Index(['datetime', 'lat', 'lon', 'depth', 'mag', 'type'], dtype='object')

                 datetime        lat         lon   depth   mag type
0 2023-03-05 20:39:33.580  35.864500 -117.681833  8680.0  1.65   Ml
1 2023-03-05 01:36:13.190  35.705333 -117.528500   520.0  1.29   Ml
2 2023-03-04 14:06:38.490  35.680167 -117.508500  4680.0  0.68   Ml
3 2023-03-04 06:34:26.940  35.907833 -117.731833  4570.0  1.09   Ml

                     datetime        lat         lon    depth   mag type
67620 2018-01-02 11:24:05.650  35.773500 -117.668833   8840.0  0.59   Ml
67621 2018-01-02 02:31:57.870  35.886167 -117.987167   8920.0  1.57   Ml
67622 2018-01-02 02:16:28.190  35.883500 -117.984667  10890.0  0.68   Ml
67623 2018-01-01 19:48:33.070  36.085500 -117.020100   5200.0  0.40   ml

In [ ]:
print(np.max(df['mag']))
print(np.min(df['mag']))

In [7]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [8]:
df = df.sort_values(by='datetime')
df = df.reset_index(drop=True)
display(df.head(3))
display(df.tail(3))

                 datetime        lat         lon    depth   mag type
0 2018-01-01 19:48:33.070  36.085500 -117.020100   5200.0  0.40   ml
1 2018-01-02 02:16:28.190  35.883500 -117.984667  10890.0  0.68   Ml
2 2018-01-02 02:31:57.870  35.886167 -117.987167   8920.0  1.57   Ml

                     datetime        lat         lon   depth   mag type
67621 2023-03-04 14:06:38.490  35.680167 -117.508500  4680.0  0.68   Ml
67622 2023-03-05 01:36:13.190  35.705333 -117.528500   520.0  1.29   Ml
67623 2023-03-05 20:39:33.580  35.864500 -117.681833  8680.0  1.65   Ml

In [9]:
df.to_csv('data_IrisObspy_Ridgecrest2019_2018TO5mar2023_20230305a.csv', index=False)

### Dive in on Ridgecrest-2019 data

In [ ]:
df_4 = df[df['mag'] >= 4.0]
print(df.shape, df_4.shape)

In [ ]:
plt.figure()
plt.subplot(1,2,1)
plt.plot(df['lon'], df['lat'], '.')
plt.subplot(1,2,2)

#cm = plt.cm.get_cmap('RdYlBu')

plt.scatter(df_4['lon'], df_4['lat'], s=df_4['mag']**2.5, c=df_4['mag'])
# https://stackoverflow.com/questions/6063876/matplotlib-colorbar-for-scatter
plt.colorbar()

In [ ]:
df_5 = df[df['mag'] >= 5.0]
print(df.shape, df_5.shape)

In [ ]:
plt.figure()
plt.scatter(df_4['lon'], df_4['lat'], s=df_4['mag']**3.0, c=df_4['mag'])
# https://stackoverflow.com/questions/6063876/matplotlib-colorbar-for-scatter
plt.colorbar()

In [ ]:
plt.figure()
plt.scatter(df_5['lon'], df_5['lat'], s=df_5['mag']**3.0, c=df_5['mag'])
# https://stackoverflow.com/questions/6063876/matplotlib-colorbar-for-scatter
plt.colorbar()

In [ ]:
plt.figure()
plt.scatter(df['lon'], df['lat'], s=df['mag']**3.0, c=df['mag'])
# https://stackoverflow.com/questions/6063876/matplotlib-colorbar-for-scatter
plt.colorbar()

In [ ]:
df.head(3)

In [ ]:
type(df['mag'][10])

In [ ]:
plt.figure()
plt.plot(df['datetime'],df['mag'], '.');

In [ ]:
df_2 = df[df['mag'] >= 2]

In [ ]:
plt.figure()
plt.plot(df_2['datetime'],df_2['mag'], '.');

In [ ]:
# plt.figure()
# plt.plot(df_2.index,df_2['mag'], '.');